body {
    background-image: url('back.jpg');
    background-attachment: fixed;
    font-family: "微软雅黑";
    font-size: 24px;
    color: darkblue;
    margin: 30px 30px;
}
h1 {
    text-align: center;
    font-size: 37px;
    border-style: solid;
    border-width: 10px;
    border-radius: 40px;
    border-color: blue;
}
#par {
    border-left-style:solid;
    border-left-color: darkgreen;
    border-left-width: 10px;
    background-color: chartreuse;
    padding: 20px;
}
table,tr,td,th {
    border: 1px solid black;
}
table {
    background-color: darkblue;
    border-spacing: 3px;
}
td,th {
    padding: 12px;
    background-color: aqua;
}
th {
    background-color: darkcyan;
    color: #ffffff;
}
li {
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aquamarine;
}
li a {
    display: block;
    color: darkgoldenrod;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: cadetblue;
}